<!DOCTYPE html>
<html lang="en">
<head>
    <form action="#" method ="POST">
    <meta charset="UTF-8">
    <h1 align="center"> Write A Post</h1>
    <div align="center">
        <p> Tittle Post <input type="text" name="inputTittle1" id="inputTittle"> </p>
    </div>
    <div align="center">
        <textarea name="inputContent1" id="inputContent" class="form-control" rows="50" cols="70"></textarea>
    </div>

    <div align="center">
        <button type = "submit" class ="btn btn-lg btn-primary" value = "Submit">Post Your Blogs</button>
    </div>
    </form>
</head>
<body>

</body>
</html>